[bumpversion]
current_version = 2018.1.0-alpha
parse = (?P<major>\d+)\.(?P<minor>\d+)(\.(?P<patch>\d+))?(\-(?P<release>(alpha|beta|rc))?)?
serialize = 
	{major}.{minor}.{patch}-{release}
	{major}.{minor}.{patch}
	{major}.{minor}-{release}
	{major}.{minor}
tag = False
tag_name = {new_version}

[bumpversion:part:release]
optional_value = production
values = 
	alpha
	beta
	production

[bumpversion:file:adsocket_transport/version.py]

